/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*MY*/

html {
    -webkit-font-smoothing: antialiased;
}

p {
    margin: 0 0 1.5em;
		font-weight: 200;
		font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1.main-shadowed {
    color: #fff;
    margin-bottom: 0.0em;
    font-weight: 400;
    line-height: 100%;
}

h1 {
    color: #fff;
    margin-bottom: 0.5em;
    font-weight: 400;
}

/*mobile*/
@media (max-width: 992px) {
    h1 {
        font-size: 2em;
        padding-left: 0.1em;
    }
    header.main-shadowed {
        margin: 1em auto 2em;
    }
}

/*desktop*/
@media (min-width: 993px) {
    h1 {
        font-size: 3em;
    }
}


body > header h1 a, body > header h1 a:hover {
    color: #FF004E;
    border: 0;
}

header > p {
    font-family: "SanFrancisco", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 1.3em;
    font-weight: 500;
}


h2 a {
    color: #222;
    border: 0;
}

h3 {
    font-weight: 600;
    color: #999;
}

h3 a {
    color: #999;
    border: 0;
}

h4 {
    color: #999;
    font-weight: 600;
    margin-bottom: 0.2em;
}

a {
    color: #41C8FF;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

a:hover {
    -webkit-transition-property: border;
    -moz-transition-property: border;
    transition-property: border;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-bottom: 1px solid;
}


body {
    color: #FFF;
    font-size: 22px;
    font-family: "SanFrancisco";
    font-weight: 400;
    line-height: 1.5em;
    padding: 0 10px;
}

@media all and (max-width: 660px) {
    body {
        font-size: 18px;
        line-height: 1.6em;
    }
}

body > header, body > section, body > footer {
    max-width: 640px;
    margin: 0 auto;
}

section, header, footer, nav, article, aside, figure {
    display: block;
    width: 100%;
}


body > header {
    color: #949494;
}

.heroimage{
    max-width: 600px;
    padding-bottom: 2em;
}

/*mobile*/
@media (max-width: 992px) {
    .heroimage {
    max-width: 20em;
    }
}

@media (max-width: 330px) {
    .heroimage {
    max-width: 11em;
    }
}

.iconfooter {
    width: 2em;
    height: auto;
}

body > footer {
    color: #aaa;
    font-size: 0.8em;
    text-align: center;
    margin: 3em auto;
}

body > footer a {
    color: #aaa;
}

body > footer li:last-child {
    margin-right: 0;
}

body > footer li {
    margin-right: 1em;
    display: inline-block;
}
