html,
body {
	@media (prefers-color-scheme: dark) {
		background-color: black;
		color: $blue;

		a {
			color: $blue;
			border-bottom-color: $blue;
			fill: $blue;
		}
	}
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

h1 {
	@include media-breakpoint-down(md) {
		font-size: 2.6rem;
	}

	@include media-breakpoint-down(sm) {
		font-size: 1.6rem;
	}
}

h2 {
	font-weight: 600;
	font-size: 1.2rem;
	a {
		vertical-align: baseline;
	}
}

u {
	text-decoration: none;
}

a {
	transition: all 0.33s ease-out;
	fill: $link-color;
	border-bottom-color: rgba($link-color, 100);
	vertical-align: middle;

	&:not(.with-inner-icons),
	&.with-inner-icons u {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		fill: inherit;
	}

	&:hover {
		transition: none;
		fill: rgba($link-hover-color, 30);
		border-bottom-color: rgba($link-hover-color, 30);
	}

	span {
		font-size: 1.2rem;
	}
}

.leads {
	flex-shrink: 0.6;
	fill: $link-color;

	.icon {
		height: 1rem;
		width: 1rem;
	}
}

.networks {
	flex-shrink: 0.9;

	a {
		flex-basis: 0;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
	}

	.nav-link {
		@include media-breakpoint-down(xs) {
			padding: 0.5em 0.5em 0 0.5em;
			font-size: 0.9rem;
		}
	}
}
