html,
body {
	height: 100%;
	@media (prefers-color-scheme: dark) {
		background-color: black;
		color: $blue;

		a {
			color: $blue;
			border-bottom-color: $blue;
			fill: $blue;
		}
	}
}

h2 {
	font-weight: 600;
	font-size: 1.2rem;
}

u {
	text-decoration: none;
}

a {
	transition: all 0.33s ease-out;
	fill: $link-color;
	border-bottom-color: rgba($link-color, 50);
	vertical-align: middle;

	&:not(.with-inner-icons),
	&.with-inner-icons u {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		fill: inherit;
	}

	&:hover {
		transition: none;
		fill: rgba($link-hover-color, 30);
		border-bottom-color: rgba($link-hover-color, 30);
	}

	.icon {
		height: 1rem;
		width: 1rem;
	}

	span {
		font-size: 1.2rem;
	}
}

.nav {
	flex-shrink: 0.8;

	.nav-link {
		@include media-breakpoint-down(xs) {
			padding: 0.5em 0.5em 0 0.5em;
			font-size: 0.9rem;
		}
	}
}
