@import "node_modules/bootstrap/scss/functions";
@import "core/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/utilities";

@import "core/fonts";

a {
	transition: all .33s ease-out;
	fill: $link-color;
	border-bottom-color: rgba($link-color, 50);
	&:hover, &.hover, &.nav-link:hover {
		transition: none;
		fill: $link-hover-color;
		border-bottom-color: rgba($link-hover-color, 30);
	}
	u, &.nav-link, &.full {
		border-bottom-width: 1px;
		fill: inherit;
		border-bottom-style: solid;
		text-decoration: none;
	}
	svg {
		height: 1em;
		width: auto;
		transition: none;
		fill: inherit;
	}
	span {
		font-size: 1.2rem;
	}
}

h1.display-4 {
	line-height: 1;
	font-size: 4.5vw;
	font-family: "Graphik LCG";
	font-weight: 700;
	@include media-breakpoint-down(sm) {
		font-size: 6vw;
	}
}

div.namer {
	font-weight: 600;
	font-family: "Druk Text Wide Medium";
}

#main {
	.col.category {
		// overflow: ellipsis;
		// white-space: nowrap;
		@include media-breakpoint-up(sm) {
		}
	}
	.nav {
		@include media-breakpoint-down(xs) {
		}
		.nav-link {
			padding-bottom: 0;
			@include media-breakpoint-down (xs) {
					padding: .5em .5em 0 .5em;
					font-size: .9rem;
			}
		}
	}

}
