// @import "../../../node_modules/normalize.css/normalize";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "core/variables";
// @import "core/spacing";


/* Ссылки без дефолтного подчёркивания */
a {
  text-decoration: none;
  transition-property: border-bottom, border-color, background, color, fill;
  transition-duration: .33s;
  transition-timing-function: ease;
  color: $link-color;
  border-bottom: 1px solid $link-border-color;

  &:active,
  &:hover {
    transition: 0s ease;
    color: $link-hover-color;
    border-color: $link-hover-border-color;
  }
  .visitable > &:visited {
    color: $link-visited-color;
    border-color: $link-visited-border-color;
    &:hover {
      color: $link-hover-color;
      border-color: $link-hover-border-color;
    }
  }
}
  i.emo {
      display: inline-block;
      pointer-events: none;
      cursor: default;
      margin: 0;
      a > & .emoji {
        vertical-align: 0;
      }
  }
  img.emoji {
    height: 1em;
    width: auto;
    margin: 0;
    vertical-align: -0.3rem;
  }

img {
  height: auto;
  max-width: 100%;
  width: auto\9;
  display: inline-block;
}

.switches {
   .switch a {
     color: black;
     margin: 0 8px;
     border-bottom: 1px dotted black;
     padding: 5px 10px;
   }
  .current a{
    color: white;
    background-color: #73A100;
    margin: 0 4px;
    border: none;
    pointer-events: none;
    cursor: default;
  }
}
