<!doctype html>
<html lang={{ lang | default("ru") }}>
<head>
  <title>{{ title | default("Hi") }}</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <meta property="og:title" content="Влад Мд Голам">
  <meta property="og:type" content="website">
  <meta property="og:image" content="assets/img/hero.jpg">
  <meta property="og:url" content="https://mdgolam.me">
  <meta property="og:description" content="Влад Мд Голам: персональный сайт">
  <meta property="og:site_name" content="Влад Мд Голам">
  <meta property="og:locale" content="ru_RU">
  <meta property="article:author" content="Md Golam Vlad">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Влад Мд Голам — сайт">
  <meta name="twitter:description" content="Добро пожаловать!">
  <meta name="twitter:image:src" content="assets/img/hero.jpg">
  <meta name="twitter:url" content="http://mdgolam.me">
  <meta name="twitter:domain" content="mdgolam.me">
  <meta name="twitter:site" content="@mdgolam.me">
  <meta name="twitter:creator" content="@vladmdgolam">

  <link href="assets/css/style.css" rel="stylesheet">
 
  <link rel="manifest" href="manifest.json">
  
</head>
<body class="px-2 py-2" id="main">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NRHPPQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% block body %}
  {% endblock %}
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="assets/js/scripts.js" async></script>
</body>
</html>
