@font-face{
    font-family: "SanFrancisco";
    src: url(SanFranciscoDisplay-Regular.woff) format('woff'),
    url(SanFranciscoDisplay-Regular.svg#) format('svg'),
    url(SanFranciscoDisplay-Regular.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "SanFrancisco";
    src: url(SanFranciscoDisplay-Bold.woff) format('woff'),
    url(SanFranciscoDisplay-Bold.svg#) format('svg'),
    url(SanFranciscoDisplay-Bold.otf) format("opentype");
    font-weight: 600;
    font-style: normal;
}


@font-face{
    font-family: "SanFrancisco";
    src: url(SanFranciscoDisplay-Medium.woff) format('woff'),
    url(SanFranciscoDisplay-Medium.svg#) format('svg'),
    url(SanFranciscoDisplay-Medium.otf) format("opentype");
    font-weight: 500;
    font-style: normal;
}
