
  <h1>My name is Vlad Md Golam
  <span class="transcribe">[md gol'am]</span>
  <i class="emo">&#x1F442;&#x1F3FB;</i>
  </h1>
  <h2>Я веб-разработчик и дизайнер</h2>
  <p>Помогаю людям и компаниям представить себя в лучшем виде: разрабатываю дизайн-системы, делаю макеты сайтов и</h3></p>

<div class="visitable">
  <a href="http://en.wikipedia.org/wiki/Johannes_Gutenberg">пишу о музыке</a>
  <a href="#ыыы">фотографирую</a>
  <a href="#">фотографирую в инстаграм</a>
  <a href="#">веду плейлист с хорошей музыкой этого года</a>
</div>

<div class="visitable">
  <a href="http://facebook.com/humanfromthesky/">facebook</a>
  <a href="http://github.com/costmc/">github</a>
  <a href="http://twitter.com/cost_mc/">twitter</a>
</div>

  <!-- C/o R. Mutt -->

</article>

<footer>
  <p>
    <small>
      Vlad Md Golam 2014-2017 <a href="mailto:costmc@me.com">costmc@me.com</a>
    </small>
  </p>
</footer>
