
<div class="toggleWrapper">
  <a id="btnToggleGrid" class="btnToggleGrid" href="javascript:void(0)">Turn Grid On</a>
</div>

<article>

  <h1>๐๐พ๐
  <span class="transcribe"></span>
  <i class="emo">๐</i>
  </h1>

<div class="visitable">
  <a href="http://en.wikipedia.org/wiki/Johannes_Gutenberg">ะฟะธัั ะพ ะผัะทัะบะต</a>
  <a href="#ััั">ัะพัะพะณัะฐัะธััั</a>
  <a href="#">ัะพัะพะณัะฐัะธััั ะฒ ะธะฝััะฐะณัะฐะผ</a>
  <a href="#">ะฒะตะดั ะฟะปะตะนะปะธัั ั ัะพัะพัะตะน ะผัะทัะบะพะน ััะพะณะพ ะณะพะดะฐ</a>
</div>

<div class="visitable">
  <a href="">ะฒะบ</a>
  <a href="">ัะฑ</a>
  <a href="">ะณะธััะฐะฑ</a>
  <a href="">ัะฒะธััะตั</a>
</div>

</article>

<footer>
  <p>
    <small>
      ะะปะฐะด ะะด ะะพะปะฐะผ 2014-2017 <br><a href="mailto:costmc@me.com">costmc@me.com</a>
    </small>
  </p>
</footer>
