<div class="container-fluid">
	<div class="row flex-column align-items-center">
		<div class="nav px-3">
			<a class="nav-link pl-0" href="https://t.me/mdgolam">телеграм</a>
			<a class="nav-link" href="https://twitter.com/vladmdgolam">твиттер</a>
			<a class="nav-link" href="https://instagr.am/vladmdgolam">инстаграм</a>
			<a class="nav-link" href="https://facebook.com/vladmdgolam">ФБ</a>
			<a class="nav-link pr-0" href="https://vk.com/vladmdgolam">ВК</a>
			<!-- <a class="nav-link ml-auto px-0" href="https://vk.com/vladmdgolam">EN</a> -->
		</div>

		<h1 class="py-4 display-4">
		Меня зовут Влад&nbsp;Мд&nbsp;Голам,<br>я дизайню и воплощаю<br>сайты и фирменные стили
		</h1>

		<div class="lead">
			<div class="d-flex align-items-center">
				<div class="w-25 text-right namer">
					веду
				</div>
				<div class="col ml-auto category">
					<div>
						<a href="https://t.me/moveablefeast" class="">
							{% include 'telegram.twig' %}
							Канал
							«<u>Праздник, который ...</u>»
						</a>
					</div>
					<div>
						<a href="http://blog.mdgolam.me">
							{% include 'aegea.twig' %}
							Блог
							«<u>О духовном в&nbsp;искусстве</u>»
						</a>
					</div>
					<div>
						<a href="https://itunes.apple.com/ru/playlist/a-2017/idpl.5e70cf4962d6451cb00127fc094eb339">
							<span></span> <u>Плейлист</u>
						</a>
					</div>
					<!-- <div>
						<a href="https://mdgolam.vsco.co">
						{% include 'vsco.twig' %}
						<u>Фотоленту</u></a> 
					</div> -->
				</div>
			</div>

			<div class="d-flex pt-5 align-items-center">
				<div class="w-25 text-right namer">
					пишу
				</div>
				<div class="col ml-auto category">
					<div>
						<a class="full" href="http://blog.mdgolam.me/all/protests-in-russia">Протесты в&nbsp;России</a>
					</div>
					<div>
						<a class="full" href="https://readymag.com/vlad/metaphysics/">Метафора и&nbsp;мечта: метафизическая живопись</a>
					</div>
					<div>
						<a class="full" href="https://readymag.com/vlad/braque/">Жорж Брак. Визуальное исследование</a>
					</div>
					<div>
						<a class="full" href="https://readymag.com/vlad/modernist-fonts/">Шрифты модернизма</a>
					</div>
				</div>
			</div>

			<div class="d-flex pt-5 align-items-center">
				<div class="w-25 text-right namer">
					проекты
				</div>
				<div class="col ml-auto category">
					<div>
						<a class="full" href="http://360elements.mdgolam.me">
						Структурные продукты 
					</a>
					</div>
					<div>
						<a class="full" href="http://capoeira.mdgolam.me/">
						Занятия капоэирой
						</a>
					</div>
					<div>
						<a class="full" href="http://godrepair.mdgolam.me/">
						Сервис «Godrepair»
					</a>
					</div>
				</div>
			</div>
		</div>
		<p class="pt-4 mb-0 small">2016...2017 Влад Мд Голам</p>
		<a class="full small" href="mailto:costmc@me.com">costmc@me.com</a>
		</div>
	</div>
</div>
		
		
