
		<div class="nav mx-auto">
			<a class="nav-link" href="https://t.me/mdgolam">телеграм</a>
			<a class="nav-link" href="https://twitter.com/vladmdgolam">твиттер</a>
			<a class="nav-link" href="https://instagr.am/vladmdgolam">инстаграм</a>
			<a class="nav-link" href="https://facebook.com/vladmdgolam">ФБ</a>
			<a class="nav-link" href="https://vk.com/vladmdgolam">ВК</a>
		</div>

		<h1 class="pt-4 display-4">
		Меня зовут Влад Мд&nbsp;Голам, я&nbsp;дизайню и&nbsp;запускаю сайты и&nbsp;мобильные приложения
		</h1>

		<div class="d-flex flex-column mx-auto lead">
			<div class="d-flex pt-5">
				<div class="w-25">
					веду
				</div>
				<div class="col d-flex flex-column lead">
					<div>
						Канал <a href="https://t.me/moveablefeast">«Праздник, который всегда с&nbsp;тобой»</a>
					</div>
					<div>
						Блог <a href="https://blog.mdgolam.me">«О духовном в&nbsp;искусстве»</a>
					</div>
					<div>
						<a href="https://itunes.apple.com/ru/playlist/a-2017/idpl.5e70cf4962d6451cb00127fc094eb339">Плейлист</a> в  Музыке
					</div>
					<div>
						<a href="https://costmc.vsco.co">Фотоленту</a> ВСКО
					</div>
				</div>
			</div>

			<div class="d-flex pt-5">
				<div class="w-25">
					2017
				</div>
				<div class="col d-flex flex-column lead">
					<a href="https://blog.mdgolam.me/all/protests-in-russia">Протесты в&nbsp;России</a>
					<a href="https://readymag.com/vlad/metaphysics/">Метафора и&nbsp;мечта: метафизическая живопись</a>
					<a href="https://readymag.com/vlad/braque/">Жорж Брак. Визуальное исследование</a>
					<a href="https://readymag.com/vlad/modernist-fonts/">Шрифты модернизма</a>
				</div>
			</div>
		</div>
		

		<!-- h3>Об искусстве</h3>
		<a href="https://readymag.com/vlad/metaphysics/">
			Метафора и мечта: метафизическая живопись
		</a>
		<a href="https://readymag.com/vlad/braque/">
			Жорж Брак. Визуальное исследование
		</a>
		<a href="https://readymag.com/vlad/modernist-fonts/">
			Шрифты модернизма
		</a> -->
		<!-- <div class="fixed-bottom mx-auto"> -->
			<p class="pt-5 mb-0 small mx-auto">2016...2017</p>
			<a class="small mx-auto" href="mailto:costmc@me.com">costmc@me.com</a>
		<!-- </div> -->
		
