@font-face {
	font-family: 'Druk Wide Heavy';
	src: url('../fonts/Druk Wide Heavy/DrukWideCyTTHeavy.eot');
	src: url('../fonts/Druk Wide Heavy/DrukWideCyTTHeavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Druk Wide Heavy/DrukWideCyTTHeavy.woff') format('woff'),
		url('../fonts/Druk Wide Heavy/DrukWideCyTTHeavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Druk Text Wide Bold';
	src: url('../fonts/Druk Text Wide Bold/DrukTextWideCyTTBold.eot');
	src: url('../fonts/Druk Text Wide Bold/DrukTextWideCyTTBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Druk Text Wide Bold/DrukTextWideCyTTBold.woff') format('woff'),
		url('../fonts/Druk Text Wide Bold/DrukTextWideCyTTBold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}


@font-face {
	font-family: 'Druk Text Wide Heavy';
	src: url('../fonts/Druk Text Wide Heavy/DrukTextWideCyTTHeavy.eot');
	src: url('../fonts/Druk Text Wide Heavy/DrukTextWideCyTTHeavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Druk Text Wide Heavy/DrukTextWideCyTTHeavy.woff') format('woff'),
		url('../fonts/Druk Text Wide Heavy/DrukTextWideCyTTHeavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Druk Text Medium';
	src: url('../fonts/Druk Text Medium/DrukTextCyTTMedium.eot');
	src: url('../fonts/Druk Text Medium/DrukTextCyTTMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Druk Text Medium/DrukTextCyTTMedium.woff') format('woff'),
		url('../fonts/Druk Text Medium/DrukTextCyTTMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Druk Text Heavy';
	src: url('../fonts/Druk Text Heavy/DrukTextCyTTHeavy.eot');
	src: url('../fonts/Druk Text Heavy/DrukTextCyTTHeavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Druk Text Heavy/DrukTextCyTTHeavy.woff') format('woff'),
		url('../fonts/Druk Text Heavy/DrukTextCyTTHeavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Druk Heavy';
	src: url('../fonts/Druk Heavy/DrukCyTTHeavy.eot');
	src: url('../fonts/Druk Heavy/DrukCyTTHeavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Druk Heavy/DrukCyTTHeavy.woff') format('woff'),
		url('../fonts/Druk Heavy/DrukCyTTHeavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
    font-family: 'Druk Text Bold';
    src: url('../fonts/Druk Text Bold/DrukTextCyTTBold.eot');
    src: url('../fonts/Druk Text Bold/DrukTextCyTTBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Druk Text Bold/DrukTextCyTTBold.woff') format('woff'),
        url('../fonts/Druk Text Bold/DrukTextCyTTBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Bold';
    src: url('../fonts/Druk Bold/DrukCyTTBold.eot');
    src: url('../fonts/Druk Bold/DrukCyTTBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Druk Bold/DrukCyTTBold.woff') format('woff'),
        url('../fonts/Druk Bold/DrukCyTTBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Text Wide Medium';
    src: url('../fonts/Druk Text Wide Medium/DrukTextWideCyTTMed.eot');
    src: url('../fonts/Druk Text Wide Medium/DrukTextWideCyTTMed.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Druk Text Wide Medium/DrukTextWideCyTTMed.woff') format('woff'),
        url('../fonts/Druk Text Wide Medium/DrukTextWideCyTTMed.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Wide Medium';
    src: url('../fonts/Druk Wide Medium/DrukWideCyTTMedium.eot');
    src: url('../fonts/Druk Wide Medium/DrukWideCyTTMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Druk Wide Medium/DrukWideCyTTMedium.woff') format('woff'),
        url('../fonts/Druk Wide Medium/DrukWideCyTTMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

// Graphik


@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-RegularItalic.eot');
    src: url('../fonts/Graphik/GraphikLCG-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-RegularItalic.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-Extralight.eot');
    src: url('../fonts/Graphik/GraphikLCG-Extralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-Extralight.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-ExtralightItalic.eot');
    src: url('../fonts/Graphik/GraphikLCG-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-ExtralightItalic.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-ExtralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-MediumItalic.eot');
    src: url('../fonts/Graphik/GraphikLCG-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-MediumItalic.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-LightItalic.eot');
    src: url('../fonts/Graphik/GraphikLCG-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-LightItalic.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-Semibold.eot');
    src: url('../fonts/Graphik/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-Semibold.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-SuperItalic.eot');
    src: url('../fonts/Graphik/GraphikLCG-SuperItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-SuperItalic.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-SuperItalic.ttf') format('truetype');
    font-weight: 1000;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-BlackItalic.eot');
    src: url('../fonts/Graphik/GraphikLCG-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-BlackItalic.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-Light.eot');
    src: url('../fonts/Graphik/GraphikLCG-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-Light.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-Bold.eot');
    src: url('../fonts/Graphik/GraphikLCG-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-Bold.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-Medium.eot');
    src: url('../fonts/Graphik/GraphikLCG-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-Medium.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-Super.eot');
    src: url('../fonts/Graphik/GraphikLCG-Super.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-Super.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-Super.ttf') format('truetype');
    font-weight: 1000;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-Thin.eot');
    src: url('../fonts/Graphik/GraphikLCG-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-Thin.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-Regular.eot');
    src: url('../fonts/Graphik/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-Regular.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-Black.eot');
    src: url('../fonts/Graphik/GraphikLCG-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-Black.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-SemiboldItalic.eot');
    src: url('../fonts/Graphik/GraphikLCG-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-SemiboldItalic.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-ThinItalic.eot');
    src: url('../fonts/Graphik/GraphikLCG-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-ThinItalic.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/Graphik/GraphikLCG-BoldItalic.eot');
    src: url('../fonts/Graphik/GraphikLCG-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik/GraphikLCG-BoldItalic.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
