@font-face {
	font-family: 'Druk Wide Heavy';
	src: url('../fonts/Druk Wide Heavy/DrukWideCyTTHeavy.eot');
	src: url('../fonts/Druk Wide Heavy/DrukWideCyTTHeavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Druk Wide Heavy/DrukWideCyTTHeavy.woff') format('woff'),
		url('../fonts/Druk Wide Heavy/DrukWideCyTTHeavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Druk Text Wide Heavy';
	src: url('../fonts/Druk Text Wide Heavy/DrukTextWideCyTTHeavy.eot');
	src: url('../fonts/Druk Text Wide Heavy/DrukTextWideCyTTHeavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Druk Text Wide Heavy/DrukTextWideCyTTHeavy.woff') format('woff'),
		url('../fonts/Druk Text Wide Heavy/DrukTextWideCyTTHeavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Druk Text Medium';
	src: url('../fonts/Druk Text Medium/DrukTextCyTTMedium.eot');
	src: url('../fonts/Druk Text Medium/DrukTextCyTTMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Druk Text Medium/DrukTextCyTTMedium.woff') format('woff'),
		url('../fonts/Druk Text Medium/DrukTextCyTTMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Druk Text Heavy';
	src: url('../fonts/Druk Text Heavy/DrukTextCyTTHeavy.eot');
	src: url('../fonts/Druk Text Heavy/DrukTextCyTTHeavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Druk Text Heavy/DrukTextCyTTHeavy.woff') format('woff'),
		url('../fonts/Druk Text Heavy/DrukTextCyTTHeavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Druk Heavy';
	src: url('../fonts/Druk Heavy/DrukCyTTHeavy.eot');
	src: url('../fonts/Druk Heavy/DrukCyTTHeavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Druk Heavy/DrukCyTTHeavy.woff') format('woff'),
		url('../fonts/Druk Heavy/DrukCyTTHeavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}