{% extends "core/layout.twig" %}
{% set title = "увы, ошибка" %}
{% set ok = false %}

{% block body %}

<h1>
  Sorry, this page is not avaliable
</h1>

<h2>But you can always go <a href="index.html">home</a></h2>
</article>

<footer>
  <p>
    <small>
      Vlad Md Golam 2014-2017 <br><a href="mailto:costmc@me.com">costmc@me.com</a>
    </small>
  </p>
</footer>

{% endblock %}

{% block scripts %}
{% endblock %}
