<!doctype html>
<html lang="ru">
<head>
  <title>Влад Мд Голам</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <meta property="og:title" content="Влад Мд Голам">
  <meta property="og:type" content="website">
  <meta property="og:image" content="assets/img/hero.jpg">
  <meta property="og:url" content="https://mdgolam.github.io">
  <meta property="og:description" content="Влад Мд Голам: персональный сайт">
  <meta property="og:site_name" content="Влад Мд Голам">
  <meta property="og:locale" content="ru_RU">
  <meta property="article:author" content="Md Golam Vlad">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Влад Мд Голам — сайт">
  <meta name="twitter:description" content="Добро пожаловать!">
  <meta name="twitter:image:src" content="assets/img/hero.jpg">
  <meta name="twitter:url" content="http://mdgolam.github.io">
  <meta name="twitter:domain" content="github.io">
  <meta name="twitter:site" content="@mdgolam.github.io">
  <meta name="twitter:creator" content="@vladmdgolam">

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">

  <link rel="manifest" href="manifest.json">

</head>
<body class="px-2 py-2" id="main">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NRHPPQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="container-fluid">
  <div class="d-flex align-items-lg-center flex-lg-row flex-column justify-content-between" id="section">
		<div class="nav d-flex flex-wrap text-center pr-lg-4 justify-content-between">
			<a class="col nav-link flex-lg-fill" href="https://t-do.ru/mdgolam">телеграм</a>
			<a class="col nav-link flex-lg-fill" href="https://twitter.com/vladmdgolam">твиттер</a>
			<a class="col nav-link flex-lg-fill" href="https://instagr.am/vladmdgolam">инстаграм</a>
			<a class="col nav-link" href="https://facebook.com/vladmdgolam">ФБ</a>
			<a class="col nav-link" href="https://vk.com/vladmdgolam">ВК</a>
			<a class="col nav-link" href="https://www.linkedin.com/in/vlad-md-golam-159556116">ЛИ</a>
		</div>

		<h1 class="py-4 title mb-3 pr-lg-4">
			 Привет!&nbsp;Меня&nbsp;зовут Влад&nbsp;Мд&nbsp;Голам, я&nbsp;дизайню и&nbsp;воплощаю&nbsp;сайты и&nbsp;приложения.
		</h1>

		<div class="d-flex flex-wrap leads">
			<div class="col chapter pb-4">
				<div class="chapter-name">
					веду
				</div>
				<div>
					<a href="https://t-do.ru/amoveablefeast" class="">
						<svg class="icon">
							<use xlink:href="#telegram"/>
						</svg>
						Канал
						«<u>Праздник, что всегда с тобой</u>»
					</a>
				</div>
				{# <div>
					<a href="http://blog.mdgolam.me">
					<svg class="icon">
						<use xlink:href="#aegea" />
					</svg> Блог
					«<u>О духовном в&nbsp;искусстве</u>»
					</a>
				</div> #}
				<div>
					<a href="https://itunes.apple.com/ru/playlist/a-2017/idpl.5e70cf4962d6451cb00127fc094eb339">
						<span></span> <u>Плейлист за 2017</u>
					</a>
				</div>
				<div>
					<a href="https://itunes.apple.com/ru/playlist/%D0%B0-bit-of-a-lad-2018/pl.u-xPlWTo1Ld0g">
						<span></span>
						<u>Плейлист за 2018</u>
					</a>
				</div>
				<div>
					<a href="https://mdgolam.vsco.co">
					<svg class="icon">
						<use xlink:href="#vsco" />
					</svg>
					<u>Фотоленту</u></a>
				</div>
			</div>
			
			<div class="col chapter pb-4">
				<div class="chapter-name">
					проекты
				</div>
				<div>
					<div>
                        <div>
							<a class="full" href="http://portfolio.hse.ru/Project/41493">
								Приложение ”Connexion”
							</a>
						</div>
						<div>
							<a class="full" href="https://github.com/mdgolam/Concentration">
								Игра «Concentration»
							</a>
						</div>
						<div>
							<a class="full" href="https://readymag.com/yanot/CDM/">
								ЦДМ Медиа
							</a>
						</div>
						{# <div>
							<a class="full" href="http://blog.mdgolam.me/all/web-interface-mayak/">
								Интерфейс сервиса скидок «Маяк»
							</a>
						</div> #}
						{# <div>
							<a class="full" href="http://mdgolam.me/360-elements/">
							Промостраница для «360 Elements»
						</a>
						</div> #}
						<div>
							<a class="full" href="http://mdgolam.me/god-repair/">
							Сайт сервиса «Godrepair»
							</a>
						</div>
						{# <div>
							<a class="full" href="http://mdgolam.me/football/">
							Промостраница «Лакиграсс»
							</a>
						</div> #}
					</div>
				</div>
			</div>

			<div class="col chapter">
				<div class="chapter-name">
					пишу
				</div>
				<div>
					<a class="full" href="https://www.notion.so/3fb5817a56204a9399796cc2444e5bac">Канье Уэст: СЕО для&nbsp;искусства.</a>
				</div>
				{# <div>
					<a class="full" href="https://www.notion.so/3fb5817a56204a9399796cc2444e5bac">Визуальное исследование по&nbsp;«Входу в&nbsp;Пустоту» Гаспара Ноэ</a>
				</div> #}
				{# <div>
					<a class="full" href="http://blog.mdgolam.me/all/protests-in-russia">Протесты в&nbsp;России</a>
				</div> #}
				<div>
					<a class="full" href="https://readymag.com/vlad/metaphysics/">Метафора и&nbsp;мечта: метафизическая живопись</a>
				</div>
				<div>
					<a class="full" href="https://readymag.com/vlad/braque/">Жорж Брак. Визуальное исследование</a>
				</div>
				<div>
					<a class="full" href="https://readymag.com/vlad/modernist-fonts/">Шрифты модернизма</a>
				</div>
			</div>

		</div>

		<div class="text-center">
			<p class="pt-5 mb-0 small">2016...2018 Влад&nbsp;Мд&nbsp;Голам</p>
			<a class="full small" href="mailto:vladmdgolam@ya.ru">vladmdgolam@ya.ru</a>
		</div>

	</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="assets/js/scripts.js" async></script>

	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="vsco" viewBox="0 0 418 418">
			<path d="M209,0.304 C93.925,0.304 0.304,93.924 0.304,209 C0.304,324.076 93.925,417.696 209,417.696 C324.075,417.696 417.696,324.075 417.696,209 C417.696,93.925 324.075,0.304 209,0.304 Z M330.919,136.451 L372.418,108.323 C385.692,129.791 394.864,154.05 398.813,180.006 L348.943,185.418 C345.981,167.788 339.76,151.252 330.919,136.451 Z M87.081,281.549 L45.582,309.677 C32.308,288.209 23.136,263.95 19.187,237.994 L69.057,232.582 C72.019,250.212 78.24,266.748 87.081,281.549 Z M101.281,145.228 L142.725,173.658 C137.081,184.2 133.87,196.23 133.87,209 C133.87,220.605 136.517,231.6 141.235,241.422 L98.59,268.015 C89.148,250.421 83.783,230.326 83.783,209 C83.783,185.725 90.173,163.918 101.281,145.228 Z M209,267.435 C176.78,267.435 150.565,241.222 150.565,209 C150.565,176.778 176.78,150.565 209,150.565 C241.22,150.565 267.435,176.778 267.435,209 C267.435,241.222 241.22,267.435 209,267.435 Z M217.348,134.345 L217.348,84.068 C253.737,86.476 285.926,104.49 307.26,131.471 L265.802,159.91 C253.732,145.963 236.636,136.487 217.348,134.345 Z M217.348,67.34 L217.348,17.193 C243.782,18.329 268.847,24.831 291.479,35.641 L267.988,79.942 C252.409,72.792 235.322,68.387 217.348,67.34 Z M200.652,67.34 C177.436,68.693 155.704,75.653 136.787,86.882 L108.772,45.302 C135.74,28.729 167.093,18.637 200.653,17.193 L200.653,67.34 L200.652,67.34 Z M200.652,84.068 L200.652,134.345 C181.364,136.488 164.268,145.963 152.197,159.912 L110.739,131.473 C132.074,104.49 164.263,86.475 200.652,84.068 Z M150.106,255.565 C162.248,270.891 180.222,281.385 200.653,283.655 L200.653,333.932 C162.338,331.398 128.681,311.555 107.448,282.167 L150.106,255.565 Z M200.652,350.66 L200.652,400.807 C174.218,399.671 149.153,393.169 126.521,382.359 L150.012,338.058 C165.591,345.208 182.678,349.613 200.652,350.66 Z M217.348,350.66 C240.564,349.307 262.296,342.347 281.213,331.118 L309.228,372.698 C282.26,389.271 250.907,399.363 217.347,400.807 L217.347,350.66 L217.348,350.66 Z M217.348,333.932 L217.348,283.655 C237.779,281.385 255.751,270.889 267.895,255.565 L310.554,282.167 C289.319,311.556 255.663,331.398 217.348,333.932 Z M319.411,268.015 L276.766,241.421 C281.484,231.599 284.131,220.604 284.131,208.999 C284.131,196.229 280.92,184.198 275.276,173.657 L316.72,145.227 C327.828,163.919 334.218,185.726 334.218,209.001 C334.217,230.326 328.853,250.421 319.411,268.015 Z M363.037,94.511 L321.532,122.643 C310.868,108.779 297.711,96.929 282.727,87.782 L306.213,43.491 C328.385,56.564 347.719,73.956 363.037,94.511 Z M94.94,54.651 L122.955,96.23 C108.017,107.655 95.401,121.969 85.962,138.34 L41.093,115.973 C54.49,91.89 72.912,70.971 94.94,54.651 Z M33.617,130.902 L78.494,153.272 C71.157,170.389 67.088,189.228 67.088,209 C67.088,211.342 67.148,213.669 67.262,215.983 L17.412,221.392 C17.148,217.293 17,213.164 17,209 C17,181.205 22.945,154.775 33.617,130.902 Z M54.963,323.489 L96.468,295.357 C107.132,309.221 120.289,321.071 135.273,330.218 L111.787,374.509 C89.615,361.436 70.281,344.044 54.963,323.489 Z M323.06,363.349 L295.045,321.77 C309.983,310.345 322.6,296.031 332.038,279.66 L376.907,302.025 C363.51,326.11 345.088,347.029 323.06,363.349 Z M384.383,287.098 L339.506,264.728 C346.843,247.611 350.912,228.772 350.912,209 C350.912,206.658 350.852,204.331 350.738,202.017 L400.588,196.608 C400.852,200.707 401,204.836 401,209 C401,236.795 395.055,263.225 384.383,287.098 Z"
				id="Shape"></path>
		</symbol>

		<symbol id="aegea" viewBox="0 0 32 32">
			<path d="M30.674 23.666c-3.088 5.904-12.169 10.445-20.277 7.313-1.482-.573-3.709-.478-5.3-1.794-1.616-1.336-1.724-3.301-2.422-4.409-3.758-5.963-2.902-13.47.025-18.003C6.547.816 15.82-.531 23.298 3.826c7.477 4.357 10.48 13.904 7.376 19.84zM22.666 4.741C16.286.647 6.68 2.3 3.711 7.833c-2.7 5.032-.013 13.225 7.464 17.583 7.479 4.356 15.47 3.562 18.5-2.447 2.897-5.746-.051-13.763-7.009-18.228zm-2.695 11.171c-.731-.468-.918-1.25.138-1.65.765-.291 4.051-1.271 5.974-1.851.427-.128 1.101-.133 1.587.256 1.61 1.283 2.196 5.594.737 7.865-.337.524-1.116.518-1.651.136-2.113-1.505-6.099-4.315-6.785-4.756zm-1.754-4.197c.019-.904.143-5.073.178-5.586.044-.656.562-.851 1.283-.881 2.078-.087 5.48 2.535 6.146 4.546.284.859-.21 1.358-.808 1.562a271.793 271.793 0 0 1-5.349 1.716c-.814.251-1.472-.208-1.45-1.357zm-9.284 6.666c1.742-.755 6.02-2.299 6.67-2.555.486-.192 1.044.31 1.034.924-.017.958-.244 5.146-.334 7.134-.039.864-.543 1.153-1.459 1.071-2.591-.233-5.901-2.468-6.539-4.902-.234-.896.179-1.477.628-1.672zm8.055-6.536c-.021.846-.787.842-1.427.34-.605-.475-4.481-3.609-6.367-5.093-.504-.395-.508-1.114-.139-1.533 1.308-1.485 5.064-2.103 7.116-1.224.658.281.951.753.945 1.264-.017 1.603-.1 5.174-.128 6.246zm-2.223 2.897c-.824.319-6.743 2.44-7.326 2.614-.8.236-1.26.015-1.663-.404-1.576-1.64-1.669-7.936.767-9.131.523-.257 1.045-.173 1.326.027.281.2 6.277 4.754 7.188 5.506.404.334.396 1.122-.292 1.388zm4.39 2.137c.508.394 4.744 3.436 6.789 5.03.636.496.846 1.222.561 1.872-1.06 2.422-5.861 3.161-7.895 2.271-.846-.371-.923-.87-.908-1.812.031-2.188.16-5.93.146-6.589-.023-1.116.673-1.263 1.307-.772z" stroke="none"/>
		</symbol>

		<symbol id="telegram" viewBox="0 0 0 16 16">
			<path stroke="none" d="M6 11.96l-1-3 11-8L.622 6.876s-.672.23-.619.655c.053.425.602.619.602.619L4.18 9.352l1.62 5.154 2.742-2.411-.007-.005 3.607 2.766c.973.425 1.327-.46 1.327-.46L16 .96l-10 11z"/>
		</symbol>
	</svg>

</body>
</html>

